.lab-title {
	font-weight: 300;
	color: #6f6f6f;
}
.card {
  border:1;
  border-radius:0.5rem;
}
.animate-opacity {
	animation:opac 1s
}
@keyframes opac{
	from {
		opacity:0
	} 
	to {
		opacity:1
	}
}
.logo {
  width: 400px; /* Default size for larger screens */
}

/* For tablets or smaller screens */
@media (max-width: 768px) {
  .logo {
    width: 300px; /* Smaller size for smaller screens */
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .logo {
    width: 200px; /* Even smaller size for mobile screens */
  }
}

/* Add the new CSS for carousel images */
.carousel-item img {
    height: 500px; /* Set the desired height */
    object-fit: cover; /* Ensures the image covers the assigned height and maintains aspect ratio */
    width: 100%; /* Ensures the image takes the full width of the carousel item */
}
