body {
	background-color: #DFDFDF;
}
h1 {
	color: #cdae51;
	font-weight: bold;
}
h2 {
	font-size: 16pt
}
.pet_img {
	width: 100%;
}
.visit_link {
	text-align: center;
	padding-top:30px; 
	color:#777777;
}
.intro {
	text-align:justify;
	max-width:600px;
	margin:auto;
	padding-bottom:30px;
}
h3 {
	font-size: 16pt;
	text-align: center;
	padding-top: 30px;
}
h6 {
	font-weight: bold;
}
.row {
	background-color:white;
}

.revs {
	border:5px solid #DFDFDF;
	background-color:white;
	padding:10px;
}